.easy-reading-highlight{
    color: red;
    text-decoration: underline;
}

.paragraph-switcher{
    width: 2em;
    height: 2em;
    padding: 0;
    border: 0;
    background: inherit !important;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;


}

.paragraph-switcher-inactive{
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #aef4af;
    }
    to {
        box-shadow: 0 0 10px 10px #aef4af;
    }
}