.swal2-container{
    z-index: 9999999999999999 !important;
}

#er-tab-slide-out-handle {
    background:  url('moz-extension://__MSG_@@extension_id__/content/user-interfaces/tab-slide-out/img/logo_w.png') no-repeat center;
}

.tab-slide-out-animated{
    animation: tab-slide-out-scale-easeInBounce 0.7s reverse ease-in;
}


@keyframes tab-slide-out-scale-easeInBounce {
    0% {
        transform: scale(1);
    }

    4% {
        transform: scale(0.98);
    }

    8% {
        transform: scale(0.99);
    }

    18% {
        transform: scale(0.94);
    }

    26% {
        transform: scale(0.98);
    }

    46% {
        transform: scale(0.75);
    }

    64% {
        transform: scale(0.98);
    }

    76% {
        transform: scale(0.44);
    }

    88% {
        transform: scale(0.11);
    }

    100% {
        transform: scale(0);
    }

}

#er-tab-slide-out-grid-container button, #er-tab-slide-out-special-button-container button {
   background-color: #ebebeb !important;
   border: 3px outset #f5f5f5 !important;
   box-shadow: none !important;
   width: 100% !important;
   height: 100% !important;
}

#er-tab-slide-out-special-button-container {
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid black;
}

#er-tab-slide-out-grid-container button.easy-reading-single-choice-active, 
#er-tab-slide-out-grid-container button.er-button-active,
#er-tab-slide-out-grid-container button.easy-reading-continuous-choice-active {
   background-color: #ffc679 !important;
}

#er-tab-slide-out-grid-container button:active {
    border-style: groove !important;
}

#er-tab-slide-out-grid-container button:hover {
  /* this removes the state from two state buttons  background-color: #dedede !important; */
}

#er-tab-slide-out-grid-container button:focus, 
#er-tab-slide-out-handle:focus, 
#er-tab-slide-out-special-button-container button:focus {
    box-shadow: inset 0 0 7px blue !important;
}

#er-tab-slide-out-handle {
    box-shadow: none !important;
    box-sizing: border-box !important;
}