#er-logo{
    width: 200px;
}


#userLoginInfo,#userLoginControl{
    text-align: center;
}

#userPicture>img{
    max-width: 100px;
}

#googleSignInButton {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
#googleSignInButton:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('../img/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

#infoContainer{
    display: none;
}

.login-button {
    display: inline-block;
    cursor: pointer;
}

.login-button:hover {
    background: rgba(59, 89, 152, .1);
}
.login-button:focus {
    background: rgba(59, 89, 152, .1);
}

.login-facebook-icon {
    background-color: #3b5998;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    height: 48px;
    width: 58px;
    float: left;
}

.login-facebook-text {
    color: #3b5998;
    font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    width: 239px;
    height: 48px;
    padding-left: 58px;
    border: 1px solid #3b5998;
}
#toogleSetting>img{

    max-width: 40px;
    max-height:40px;
}

#toogleSetting{
    padding: 4px;
    border: 4px solid black;
    border-radius: 0;
}

#cloudServerSelect{
    display: none;
}

#toogleSetting.selected{
    background-color: white;
}

legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
